NEXT_PUBLIC_SITE_URL=https://gym.leandrosouza.info
NEXT_PUBLIC_SUPABASE_URL=https://supabase.leandrosouza.info
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_AUTH_LOGIN_URL=https://auth.leandrosouza.info/login
